# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
build/
dist/
*.spec
*.log
*.tmp*
*.bak
*.swp
.DS_Store
# VSCode/IDE/user config
.vscode/
.idea/
*.sublime*

config.json

pyinstaller*/
*.pyc
*.pyo

Mods/
tmp/

*.pyd
*.orig

.env
.env.*

Thumbs.db
mod_data_tmp.json